@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

    :root {
      --bc: #fafaff;
      --primary: #da2c4d;
      --white: #ffffff;
      --black: #000000;
    
      --dark-red: #6e1727;
    
      --gray: #6c757d;
      --gray-light: #fcf1ec;
      --gray-extra-dark: #343a40;
    
      --heading: 3.4rem;
      --heading-large: 7.5rem;
      --heading-medium: 2rem;
      --paragraph: 1.1rem;
     
      --font-main:"Merriweather", serif;
      --gradient-color: linear-gradient(90deg,
      hsl(48, 100%, 50%) 0%,
      hsl(28, 100%, 54%, 100%));
      --gradient-color-fade: linear-gradient(90deg,
      hsl(48, 100%, 59%) 0%,
      hsl(28, 100%, 59%));
      --black-color: hsl(225, 15%, 6%);
    }
    * {
      box-sizing: border-box;
    }
    html, body {
      margin: 0;
      font-family: var(--font-main);
      background-color: var(--bc);
    }
    main {
      min-height: 100vh;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }
    h1 {
      margin: 0;
      width: 60%;
      font-weight: 800;
      line-height: 1em;
      font-size: calc(var(--heading) + 0.8rem);
      
      color: var(--white);
      z-index: 25;
    }
    p {
      margin: 0;
      width: 60%;
      font-weight: 300;
      font-size: calc(var(--paragraph) + .25rem);
      color: var(--white);
      z-index: 25;
    }
    
    .title {
      width: 55%;
      height: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      position: absolute;
      z-index: 25;
    }
    .overlay {
      width: 100%;
      height: 100%;
      position: absolute;
      background-color: rgba(0, 0, 0, .5);
      z-index: 4;
    }
    .space {
      min-height: 20vh;
    }
    
    .wrapper {
      width: 100%;
      position: relative;
      overflow: hidden;
    }
    .slides-container {
      height: 100vh;
      transition: transform .75s cubic-bezier(0.48, 0.15, 0.18, 1);
      position: relative;
    }
    .slide-image {
      height: 100%;
      width: 100%;
      position: absolute;
      overflow: hidden;
    }
    .slide-image img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform: scale(1.5, 1.5);
      -webkit-animation-name: zoomin;
      -webkit-animation-duration: 40s;
      animation-name: zoomin;
      animation-duration: 40s;
      animation-iteration-count: infinite;
      -webkit-animation-iteration-count: infinite;
    }
    @-webkit-keyframes zoomin {
      0% {
        transform: scale(1,1);
      }
      45% {
        transform: scale(1.5,1.5); 
      }
      55% {
        transform: scale(1.5,1.5);
      }
      100% {
        transform: scale(1,1);
      }
    }
    
    @keyframes zoomin {
      0% {
        transform: scale(1,1);
      }
      45% {
        transform: scale(1.5,1.5); 
      }
      55% {
        transform: scale(1.5,1.5); 
      }
      100% {
        transform: scale(1,1);
      }
    }
    @keyframes zoominout {
      0%, 100% {
        transform: scale(1, 1);
      }
      50% {
        transform: scale(1.5, 1.5);
      }
    }
    .next-btn, .prev-btn {
      top: 50%;
      margin: 0 .25em;
      padding: .2em .3em;
      font-size: 2.22rem;
      color: rgb(161, 161, 161);
      background: transparent;
      position: absolute;
      transform: translateY(-50%);
      transition: all .2s;
      cursor: pointer;
      z-index: 100;
    }
    .next-btn:hover, .prev-btn:hover {
      color: var(--white);
    }
    .prev-btn {
      left: 0;
    }
    .next-btn {
      right: 0;
    }
    
    .navigation-dots {
      left: 50%;
      bottom: 0;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 1em 0;
      z-index: 100;
    }
    .single-dot {
      width: .7rem;
      height: .7rem;
      margin: 0 .3em;
      border-radius: 50%;
      border: 2px solid var(--white);
      background: transparent;
      cursor: pointer;
      transition: .2s;
    }
    .single-dot.active {
      background: var(--white);
    }
    
    .read-more-btn {
      background: var(--gradient-color);
      color: var(--black-color);
      padding: 1rem 2rem;
      border-radius: 25px;
      border: 2px solid var(--black-color);
      cursor: pointer;
      font-weight: 700;
      font-size: 0.9rem;
      transition: background-color 0.3s ease;
      position: absolute;
      bottom: 30%;
      left: 27%;
      transform: translateX(-50%); 
    }
    .read-more-btn:hover {
      background: var(--gradient-color-fade);
    }
    
    
    @media only screen and (max-width: 1660px) {
      :root {
    
        --heading: 3.2rem;
      }
      
    }
    @media only screen and (max-width: 1456px) {
      :root {
     
        --heading: 3rem;
      }
      .navigation-dots {
        left: 30%;
        right: 30%;
        
      }
      .read-more-btn {
        bottom: 22%;
        left: 32%; 
      }
    }
    @media only screen and (max-width: 1024px) {
      :root {
    
        --heading: 2.5rem;
      }
      h1 {
        font-size: calc(var(--heading) + 1.2rem);
      }
      .navigation-dots {
        left: 30%;
        right: 30%;
        
      }
      .read-more-btn {
        bottom: 22%;
        left: 32%; 
      }
    }
    @media only screen and (max-width: 769px) {
      :root {
    
        --heading: 2rem;
      }
      h1 {
        font-size: calc(var(--heading) + .8rem);
      }
      p {
        font-size: calc(var(--paragraph));
      }
      .navigation-dots {
        left: 30%;
        right: 30%;
        
      }
      .read-more-btn {
        left: 37%;
      }
    }
    @media only screen and (max-width: 496px) {
      :root {
    
        --heading: 1.5rem;
      }
      h1 {
        font-size: calc(var(--heading) + .4rem);
      }
      .title {
        width: 100%;
        height: 100%;
      }
      .navigation-dots {
        left: 30%;
        right: 30%;
        
      }
     
    }
    
    @media only screen and (max-width: 320px) {
      :root {
    
        --heading: 1.5rem;
      }
      h1 {
        font-size: calc(var(--heading) + .4rem);
      }
      .title {
        width: 100%;
        height: 100%;
      }
      .navigation-dots {
        left: 30%;
        right: 30%;
        
      }
      .read-more-btn {
        bottom: 15%;
    
      }
    }
    @media only screen and (max-width: 375px) {
      :root {
    
        --heading: 1.5rem;
      }
      h1 {
        font-size: calc(var(--heading) + .4rem);
      }
      .title {
        width: 100%;
        height: 100%;
      }
      .navigation-dots {
        left: 30%;
        right: 30%;
        
      }
      .read-more-btn {
        bottom: 12%; 
        left: 40%;
      }
      
    }
    
    @media only screen and (max-width: 425px) {
      :root {
    
        --heading: 1.5rem;
      }
      h1 {
        font-size: calc(var(--heading) + .4rem);
      }
      .title {
        width: 100%;
        height: 100%;
      }
      .navigation-dots {
        left: 30%;
        right: 30%;
        
      }
      .read-more-btn {
        bottom: 8%; 
        left: 40%;
      }
    }